.Country{
    border:3px solid salmon;
    max-width: 1024px;
    padding: 20px;
    border-radius: 20px;
}
.Country-visited{
    background-color: cornflowerblue;
}
.Country img{
    width:300px;
    height: 150px;
}